body {
  background-color: #262626;
  font-family: Arial, sans-serif;
  color: #eee;
}

#render-target {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 40%;
}

#loading-icon {
  display: block;
  margin: -200px 50% -50px;
  position: relative;
  left: -318px;
  z-index: -5;
} /* 636x400 */

h1 {
  text-align: center;
  text-transform: lowercase;
}
